<html>
  <body>
    <div class="mask">
      <img src="flughafensee.jpg"/>
    </div>
  </body>

  <style>
    img {
      width: 100%;
      height: auto;
    }
    .mask {
      mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,1) 0 75%,
        rgba(255,255,255,0)
      );
      -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,1) 0 75%,
        rgba(255,255,255,0)
      );
    }
  </style>
</html>
